<html>
<body>
<fieldset>
    <legend>ADD PRODUCT</legend>
	<form method="POST" action="../Controller/sign_check.php">
		  
		  Name : <input type="text" name="username" width="100px" placeholder="Enter Name"> </input><br>
          Buying Price :<input type="Price" name="Price" width="100px" placeholder="Enter Price"> </input><br>
		  Selling Price :<input type="Price" name="Price" width="100px" placeholder="Enter Price"> </input><br>
		 
		   <input type="radio" name="usertype" value="user"> Display </input><br>
		   <input type="submit" name="save" value="save"> </input><br>
		   
	</form>
	</fieldset>
</body>
</html>
